// carousel
.main {
    height: calc(100vh - 90px)
}

.slide1 {
    background: linear-gradient(rgba(11, 11, 11, .9), rgba(11, 11, 11, .9)),
        url(../imgs/slide2.gif);
    background-size: cover;
    background-position: center center;
}

.slide2 {
    background: linear-gradient(rgba(11, 11, 11, .7), rgba(11, 11, 11, .7)),
        url(../imgs/slide2.gif);
    background-size: cover;
}

.slide3 {
    background: linear-gradient(rgba(11, 11, 11, .7), rgba(11, 11, 11, .7)),
        url(../imgs/slide5.gif);
    background-size: cover;
}