.slide2 {
  background: linear-gradient(rgba(11, 11, 11, 0.7), rgba(11, 11, 11, 0.7)),
    url(../imgs/slide2.gif);
  background-size: cover;
}


.heroheader {
  font-size: 5rem;
}

.hero34 {
  font-size: 3rem;
}

@media screen and (max-width: 475px) {
  .heroheader {
    font-size: 4rem;
  }

  .hero34 {
    font-size: 2rem;
  }
}