.explorecard {
    min-height: 50vh;

    .card-body {
        opacity: 0;
        background-color: lighten($purple, 20);
        border-radius: 10px;
        transition: .3s all ease;
    }

    &:hover .card-body {
        opacity: .9;
    }
}

@mixin card-bg() {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    @content;
}

.card-1 {
    background: url(../imgs/1-Gandhi-Ashram.jpg);
    @include card-bg();
}

.card-2 {
    background: url(../imgs/2-Hutheesing-Jain-Temple.jpg);
    @include card-bg();
}

.card-3 {
    background: url(../imgs/3-Atal-Bridge.jpg);
    @include card-bg();
}

.card-4 {
    background: url(../imgs/4-Sidi-sayyad.jpg);
    @include card-bg();
}

.card-5 {
    background: url(../imgs/5-bhadra-fort.jpg);
    @include card-bg();
}

.card-6 {
    background: url(../imgs/6-rani-sipri-masjid.jpg);
    @include card-bg();
}

.card-7 {
    background: url(../imgs/7-jagannath-temple-ahmedabad\ \(2\).jpg);
    @include card-bg();
}

.card-8 {
    background: url(../imgs/12-iscon2.jpg);
    @include card-bg();
}

.card-9 {
    background: url(../imgs/9-Riverfront-Park.jpg);
    @include card-bg();
}

.card-10 {
    background: url(../imgs/10-Kankaria.jpg);
    @include card-bg();
}

.card-11 {
    background: url(../imgs/11-dada-hari-ni-vav.jpg);
    @include card-bg();
}

.card-12 {
    background: url(../imgs/17-Aksardham.png);
    @include card-bg();
}