@import "variable";

.nav-link {
  transition: 0.3s all ease-in;
  border-bottom: 1px solid transparent;
  font-size: 15px;
  &:hover {
    color: $purple;
    border-color: $purple;
  }
}

.navbar-toggler {
  color: $purple;

  span {
    color: $purple;
  }
}
