@import "variable";

.nav-link {
  transition: 0.3s all ease-in;
  border-bottom: 1px solid transparent;
  font-size: 14px;

  &:hover {
    color: $purple;
    border-color: $purple;
  }
}

.navbar-toggler {
  color: $purple;

  span {
    color: $purple;
  }
}


// header rainbow link css
.rainbow-text {
  position: relative;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  overflow: hidden;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 2px 4px 6px;
  margin: -2px -4px -6px;
}

.rainbow-text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  background: white repeating-linear-gradient(90deg, #14ffe9 0%, #ffc800 16.66666%, #ff00e0 33.33333%, #14ffe9 50.0%);
  mix-blend-mode: screen;
  pointer-events: none;
  // animation: move 1s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(50%);
  }
}

.pulse {
  animation: pulse 1s infinite;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 $red;
  }
}

@supports not (mix-blend-mode: multiply) {
  .rainbow-text {
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    background: white repeating-linear-gradient(90deg, #14ffe9, #ffc800, #ff00e0, #14ffe9);
    text-shadow: none;
  }

  .rainbow-text::before {
    content: none;
  }
}


.rainbow_container {
  display: flex;
  background: transparent url(http://api.thumbr.it/whitenoise-300x300.png?background=eeeeeeff&noise=000000&density=15&opacity=10) center;

  &:hover {
    border-bottom: transparent;
  }
}