@import 'variable';
@import 'navbar';

::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
    border-radius: 20px !important;
    background-color: #f7f9fc !important;
}

::-webkit-scrollbar-thumb {
    width: 3px !important;
    height: 3px !important;
    border-radius: 20px !important;
    background-color: $purple !important;
}

::-webkit-scrollbar-track {
    width: 3px !important;
    height: 3px !important;
    border-radius: 20px !important;
    background-color: #f7f9fc !important;
}

body {
    background-color: #f7f9fc;
    background-image: radial-gradient($purple 0.8px, transparent 0.8px), radial-gradient($purple 0.8px, $bg 0.8px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-attachment: fixed;
    font-family: sans-serif;
}


.customshadow {
    box-shadow: 0px 5px 20px rgba(176, 195, 211, 0.5);
}

.purpletext {
    color: $purple;
}

.redtext {
    color: $red;
}

.orangetext {
    color: $orange;
}

.text-justify {
    text-align: justify;
}

.btn-primary {
    background-color: $purple !important;
    border: 1px solid transparent !important;
    color: $bg !important;
    width: fit-content;
    padding: 12px 16px;
    border-radius: 10px;

    &:hover,
    &:active,
    &:focus {
        box-shadow: none !important;
        background-color: $bg !important;
        border: 1px solid $purple !important;
        color: $purple !important;
    }
}

.links {
    color: $purple;
    text-underline-offset: .5rem;
    transition: .3s all ease;

    &:hover {
        color: $red;
    }
}

// cornor for image
@mixin cornerborder() {
    --s: 50px;
    /* the size on the corner */
    --t: 5px;
    /* the thickness of the border */
    --g: 20px;
    /* the gap between the border and image */

    @content;

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid $red;
    /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    transition: .4s;
}

.aboutimg {
    @include cornerborder();
}

.doctorimg {
    @include cornerborder() {
        --t: 3px;
        --g: 1px;
    }
}

// carousel
.main {
    height: 80vh;
}

.slide1 {
    background: linear-gradient(rgba(11, 11, 11, .7), rgba(11, 11, 11, .7)),
        url(../imgs/slide4.gif);
    background-size: cover;
}

.slide2 {
    background: linear-gradient(rgba(11, 11, 11, .7), rgba(11, 11, 11, .7)),
        url(../imgs/slide2.gif);
    background-size: cover;
}

.slide3 {
    background: linear-gradient(rgba(11, 11, 11, .7), rgba(11, 11, 11, .7)),
        url(../imgs/slide5.gif);
    background-size: cover;
}

// host city
@import 'hostcity';