.nav-link {
  transition: 0.3s all ease-in;
  border-bottom: 1px solid transparent;
  font-size: 15px;
}
.nav-link:hover {
  color: #803f99;
  border-color: #803f99;
}

.navbar-toggler {
  color: #803f99;
}
.navbar-toggler span {
  color: #803f99;
}

.rainbow-text {
  position: relative;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  overflow: hidden;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  padding: 2px 4px 6px;
  margin: -2px -4px -6px;
}

.rainbow-text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  background: white repeating-linear-gradient(90deg, #14ffe9 0%, #ffc800 16.66666%, #ff00e0 33.33333%, #14ffe9 50%);
  mix-blend-mode: screen;
  pointer-events: none;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
.pulse {
  animation: pulse 1s infinite;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 0 1em transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #bf1e2e;
  }
}
@supports not (mix-blend-mode: multiply) {
  .rainbow-text {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text !important;
            background-clip: text !important;
    background: white repeating-linear-gradient(90deg, #14ffe9, #ffc800, #ff00e0, #14ffe9);
    text-shadow: none;
  }
  .rainbow-text::before {
    content: none;
  }
}
.rainbow_container {
  display: flex;
  background: transparent url(http://api.thumbr.it/whitenoise-300x300.png?background=eeeeeeff&noise=000000&density=15&opacity=10) center;
}
.rainbow_container:hover {
  border-bottom: transparent;
}

@font-face {
  font-family: headingtext;
  src: url(../fonts/Philosopher-Bold.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
  border-radius: 20px !important;
  background-color: #f7f9fc !important;
}

::-webkit-scrollbar-thumb {
  width: 3px !important;
  height: 3px !important;
  border-radius: 20px !important;
  background-color: #803f99 !important;
}

::-webkit-scrollbar-track {
  width: 3px !important;
  height: 3px !important;
  border-radius: 20px !important;
  background-color: #f7f9fc !important;
}

::-moz-selection {
  color: #f7f9fc;
  background-color: #803f99;
}

::selection {
  color: #f7f9fc;
  background-color: #803f99;
}

body {
  background-color: #f7f9fc;
  background-image: radial-gradient(#803f99 0.8px, transparent 0.8px), radial-gradient(#803f99 0.8px, #f7f9fc 0.8px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
  background-attachment: fixed;
  font-family: poppins, sans-serif;
}

.headingtext {
  font-family: headingtext;
}

.customshadow {
  box-shadow: 0px 5px 20px rgba(176, 195, 211, 0.5);
}

.customcard {
  background-image: url("../imgs/cardbg.jpeg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
}

.purpletext {
  color: #803f99;
}

.redtext {
  color: #bf1e2e;
}

.orangetext {
  color: #f1592a;
}

.text-justify {
  text-align: justify;
}

.btn-primary {
  background-color: #803f99 !important;
  border: 1px solid transparent !important;
  color: #f7f9fc !important;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 16px;
  border-radius: 10px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  box-shadow: none !important;
  background-color: #f7f9fc !important;
  border: 1px solid #803f99 !important;
  color: #803f99 !important;
}

.links {
  color: #803f99;
  text-underline-offset: 0.5rem;
  transition: 0.3s all ease;
}
.links:hover {
  color: #bf1e2e;
}

.aboutimg {
  --s: 50px;
  /* the size on the corner */
  --t: 5px;
  /* the thickness of the border */
  --g: 20px;
  /* the gap between the border and image */
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #bf1e2e;
  /* the color here */
  outline-offset: calc(-1 * var(--t));
  -webkit-mask: conic-gradient(at var(--s) var(--s), rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), linear-gradient(#000 0 0) content-box;
          mask: conic-gradient(at var(--s) var(--s), rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), linear-gradient(#000 0 0) content-box;
  transition: 0.4s;
}

.doctorimg {
  --s: 50px;
  /* the size on the corner */
  --t: 5px;
  /* the thickness of the border */
  --g: 20px;
  /* the gap between the border and image */
  --t: 3px;
  --g: 1px;
  padding: calc(var(--g) + var(--t));
  outline: var(--t) solid #bf1e2e;
  /* the color here */
  outline-offset: calc(-1 * var(--t));
  -webkit-mask: conic-gradient(at var(--s) var(--s), rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), linear-gradient(#000 0 0) content-box;
          mask: conic-gradient(at var(--s) var(--s), rgba(0, 0, 0, 0) 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)), linear-gradient(#000 0 0) content-box;
  transition: 0.4s;
}

#breadcrumb_container {
  background: linear-gradient(rgba(11, 11, 11, 0.6), rgba(11, 11, 11, 0.6)), url("../imgs/breadcrums.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}
#breadcrumb_container .row {
  height: -webkit-fill-available;
}
#breadcrumb_container .row h1 {
  font-size: 5rem;
}

@media only screen and (max-width: 450px) {
  #breadcrumb_container .row h1 {
    font-size: 3rem;
  }
}
.facultyBorder {
  outline: 3px solid #803f99;
  border-radius: 10px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #72c3c9;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide2 {
  background: linear-gradient(rgba(11, 11, 11, 0.7), rgba(11, 11, 11, 0.7)), url(../imgs/slide2.gif);
  background-size: cover;
}

.heroheader {
  font-size: 5rem;
}

.hero34 {
  font-size: 3rem;
}

@media screen and (max-width: 475px) {
  .heroheader {
    font-size: 4rem;
  }
  .hero34 {
    font-size: 2rem;
  }
}
.explorecard {
  min-height: 50vh;
}
.explorecard .card-body {
  opacity: 0;
  background-color: #b177c7;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.explorecard:hover .card-body {
  opacity: 0.9;
}

.card-1 {
  background: url(../imgs/1-Gandhi-Ashram.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-2 {
  background: url(../imgs/2-Hutheesing-Jain-Temple.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-3 {
  background: url(../imgs/3-Atal-Bridge.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-4 {
  background: url(../imgs/4-Sidi-sayyad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-5 {
  background: url(../imgs/5-bhadra-fort.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-6 {
  background: url(../imgs/6-rani-sipri-masjid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-7 {
  background: url(../imgs/7-jagannath-temple-ahmedabad\ \(2\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-8 {
  background: url(../imgs/12-iscon2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-9 {
  background: url(../imgs/9-Riverfront-Park.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-10 {
  background: url(../imgs/10-Kankaria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-11 {
  background: url(../imgs/11-dada-hari-ni-vav.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.card-12 {
  background: url(../imgs/17-Aksardham.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

input,
textarea {
  border: 0 !important;
  border-bottom: 1px solid #803f99 !important;
  border-radius: 0 !important;
  background: transparent !important;
}

input:focus,
textarea:focus {
  border-color: #bf1e2e !important;
  box-shadow: none !important;
}

label::after,
label::after {
  background: transparent !important;
}

.table-responsive .border-primary {
  border-color: #803f99 !important;
}
.table-responsive .table th,
.table-responsive .table td {
  background: transparent !important;
}
.table-responsive .table th {
  color: #fff;
  background-color: #803f99 !important;
  font-family: headingtext;
  font-weight: 600;
  text-align: center;
}
.table-responsive .table td {
  color: #803f99;
  font-family: poppins;
}

.purplefieldset {
  border: 1px solid #803f99;
  border-radius: 5px;
  padding: 10px;
  padding-right: 1.7rem;
}
.purplefieldset ul {
  color: #803f99;
  list-style: circle;
}
.purplefieldset legend {
  float: none;
  width: auto;
  padding: 5px 20px;
  background-color: #803f99;
  border-radius: 5px;
  color: #fff;
  margin: 0 1rem;
}

.orangefieldset {
  border: 1px solid #f1592a;
  border-radius: 5px;
  padding: 10px;
  padding-right: 1.7rem;
}
.orangefieldset ul {
  color: #f1592a;
  list-style: circle;
}
.orangefieldset legend {
  float: none;
  width: auto;
  padding: 5px 20px;
  background-color: #f1592a;
  border-radius: 5px;
  color: #fff;
  margin: 0 1rem;
}
.orangefieldset legend {
  text-align: right;
}

@media only screen and (max-width: 400px) {
  .purplefieldset,
  .orangefieldset {
    padding-right: 10px;
  }
  .purplefieldset legend,
  .orangefieldset legend {
    text-align: center;
    margin: 0;
  }
}
.hotel-container {
  overflow: hidden;
}
.hotel-container img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.location iframe {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 10px;
  height: auto;
  min-height: 180px;
}

.pdfiframe {
  height: 100vh;
}/*# sourceMappingURL=style.css.map */