@import 'variable';
@import 'navbar';

::-webkit-scrollbar {
    width: 3px !important;
    height: 3px !important;
    border-radius: 20px !important;
    background-color: #f7f9fc !important;
}

::-webkit-scrollbar-thumb {
    width: 3px !important;
    height: 3px !important;
    border-radius: 20px !important;
    background-color: $purple !important;
}

::-webkit-scrollbar-track {
    width: 3px !important;
    height: 3px !important;
    border-radius: 20px !important;
    background-color: #f7f9fc !important;
}

body {
    background-color: #f7f9fc;
    background-image: radial-gradient($purple 0.8px, transparent 0.8px), radial-gradient($purple 0.8px, $bg 0.8px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-attachment: fixed;
    font-family: sans-serif;
}


.customshadow {
    box-shadow: 0px 5px 20px rgba(176, 195, 211, 0.5);
}

.purpletext {
    color: $purple;
}

.redtext {
    color: $red;
}

.orangetext {
    color: $orange;
}

.text-justify {
    text-align: justify;
}

.btn-primary {
    background-color: $purple !important;
    border: 1px solid transparent !important;
    color: $bg !important;
    width: fit-content;
    padding: 12px 16px;
    border-radius: 10px;

    &:hover,
    &:active,
    &:focus {
        box-shadow: none !important;
        background-color: $bg !important;
        border: 1px solid $purple !important;
        color: $purple !important;
    }
}

.links {
    color: $purple;
    text-underline-offset: .5rem;
    transition: .3s all ease;

    &:hover {
        color: $red;
    }
}

// cornor for image

.aboutimg {
    --s: 50px;
    /* the size on the corner */
    --t: 5px;
    /* the thickness of the border */
    --g: 20px;
    /* the gap between the border and image */

    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid $red;
    /* the color here */
    outline-offset: calc(-1*var(--t));
    mask:
        conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    transition: .4s;
}

// explore ahmedabad imgs
// .img-wrapper {
//     position: relative;
//     cursor: pointer;

//     .img-overlay {
//         position: absolute;
//         color: #fff;
//         height: 0;
//         width: 100%;
//         bottom: 0;
//         background: rgba($purple, $alpha: .8);
//         border-radius: 5px;
//         visibility: hidden;
//         transition: .5s all ease;

//         p {
//             font-size: 13px;
//         }

//         .overlay-infos {
//             opacity: 0;
//             transition: .2s all ease;
//         }
//     }

//     &:hover .img-overlay {
//         height: 100%;
//         visibility: visible;
//     }

//     &:hover .overlay-infos {
//         opacity: 1;
//     }
// }

.explorecard {
    min-height: 50vh;

    .card-body {
        opacity: 0;
        background-color: lighten($purple, 20);
        border-radius: 10px;
        transition: .3s all ease;
    }

    &:hover .card-body {
        opacity: .9;
    }
}

@mixin card-bg() {
    background-repeat: no-repeat;
    background-size: cover;
    @content;
}

.card-1 {
    background: url(../imgs/1-Gandhi-Ashram.jpg);
    @include card-bg();
}

.card-2 {
    background: url(../imgs/2-Hutheesing-Jain-Temple.jpg);
    @include card-bg();
    background-position-x: -5rem;
}

.card-3 {
    background: url(../imgs/3-Atal-Bridge.jpg);
    @include card-bg();
}

.card-4 {
    background: url(../imgs/4-Sidi-sayyad.jpg);
    @include card-bg();
    background-position-x: -4rem;
}

.card-5 {
    background: url(../imgs/5-bhadra-fort.jpg);
    @include card-bg();
}

.card-6 {
    background: url(../imgs/6-rani-sipri-masjid.jpg);
    @include card-bg();
}

.card-7 {
    background: url(../imgs/7-jagannath-temple-ahmedabad\ \(2\).jpg);
    @include card-bg();
}

.card-8 {
    background: url(../imgs/12-iscon2.jpg);
    @include card-bg();
    background-position-x: -4.5rem;
}

.card-9 {
    background: url(../imgs/9-Riverfront-Park.jpg);
    @include card-bg();
}

.card-10 {
    background: url(../imgs/10-Kankaria.jpg);
    @include card-bg();
}

.card-11 {
    background: url(../imgs/11-dada-hari-ni-vav.jpg);
    @include card-bg();
    background-position-x: -4rem;
}

.card-12 {
    background: url(../imgs/17-Aksardham.png);
    @include card-bg();
}